.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #080808;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background: rgb(8, 8, 8);
  background: linear-gradient(
    0deg,
    rgba(8, 8, 8, 1) 0%,
    rgba(61, 61, 61, 1) 50%,
    rgba(8, 8, 8, 1) 100%
  );
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */

.myNavBar {
  background-color: #080808 !important;
  height: 4.5rem;
  width: 100vw !important;
}

.logoDiv {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

.logo {
  height: 2rem;
  width: 2rem;
}

/* Footer */
.footerContainer {
  background-color: #080808;
  position: relative;
  bottom: 0;
  height: 5rem;
  width: 100vw !important;
}

.copyrightText {
  font-size: 0.8rem;
  color: white;
  margin-bottom: 0;
}

.footerCol {
  margin-bottom: 0 !important;
}

/* Homepage */

.HomepageContainer {
  width: 100vw !important;
}

#coinTable {
  border-collapse: collapse !important;
  border: none !important;
}

.tableHead {
  color: darkgray !important;
  margin-bottom: 4rem !important;
}

.coinImage {
  width: 8rem !important;
  height: 8rem !important;
}

.coinName {
  color: white;
}

.coinName:hover {
  color: black;
}

table,
tr,
td,
th {
  border: none !important;
}

.tableCell:hover {
  background-color: white !important;
  color: black;
}

/* coin Details Page */
.coinDetailsCard {
  background-color: transparent !important;
  border: none !important;
  /* border-bottom: 1px solid white !important; */
  box-shadow: 2px 4px 3px black;
}

.sliderDiv {
  justify-content: space-between;
}

.currentPrice {
  color: #0052ff;
}

.FavoriteButton {
  border: none !important;
}

.FavoriteButton:hover {
  border: none !important;
  background: transparent !important;
}

.FavoriteWhale {
  height: 1.2rem;
  width: 1.2rem;
}

.FavoriteWhale:hover {
  transform: scale(1.4);
}

.coinDescription {
  width: 75vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 1rem;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #0052ff; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 1rem;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #0052ff; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 1rem;
}

/* favorite coin */
.favoriteCardContainer {
  padding-right: 7rem !important;
}

.favoriteCard {
  background: transparent !important;
  border: none !important;
  box-shadow: 2px 4px 3px black;
}

.favoriteCoinImage {
  height: 4rem !important;
  width: 4rem !important;
}

.heartCoin {
  color: #0052ff;
}

.heartCoin:hover {
  transform: scale(1.2);
}

.removeButton {
  width: 2rem !important;
  height: 2rem !important;
  border: none !important;
  background-color: transparent !important;
}

.removeCircle {
  color: red;
}

/* .favoriteCard:hover > .removeButton{
  display: block

} */

/* CoinRows */

.CoinCards {
  width: 10rem;
  background-color: transparent !important;
  border: none !important;
  box-shadow: 2px 4px 3px black;
}

.CoinRowsImages {
  width: 4rem !important;
  height: 4rem !important;
}

/* Learning Section */
.coinButton {
  background-color: #0052ff !important;
  border: 1px solid #0052ff !important;
  box-shadow: 2px 4px 3px black;
}

.coinButton:hover {
  background-color: white !important;
  border: 1px solid white !important;
  box-shadow: 2px 4px 3px black;
  color: black !important;
}

.coinButton:focus {
  background-color: black;
}

/* Tweets */
.TwitterLogo {
  color: #1c9cea;
}

.UserImage {
  border-radius: 50%;
  transform: scale(1.1);
}

.TweetCard {
  background-color: transparent !important;
}

.TweetCard:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.TweetSection {
  border: 1px solid lightgray;
}

.favoriteTweet {
  color: white !important;
}

/* Learning Section */
.TypeWriterText {
  color: #0052ff;
}

/* Typewriter */
.TypewriterCoin {
  color: #0052ff;
}
